nav {
  background-color: #4056a1;
  height: 120px;
  color: hsl(0, 0%, 100%);
}

span {
  font-family: 'Bungee', sans-serif;
  margin-left: 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}
